
body header h1{
    color: red;
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    padding:30px;
    background-color:rgb(237, 250, 53)
}   

.input{
    display: block; 
    margin-top: 6px;
    margin-bottom: 6px;
}
.left {
    float: left;
    position: relative;
    width: 45%;
    /*border: steelblue solid 1px;*/
    height: auto;
}

.right {
    padding-left: 10px;
    margin-left: 20px;
    position: relative;
    float: left;
    width: 45%;
    /*border: steelblue solid 1px;*/
    height: auto;
}
